
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>

<div style="padding: 32px">

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

      <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
        <div *ngIf="isAction(column.header); else notAction">
            <mat-cell *cdkCellDef="let row">
                <button md-raised-button (click)="onEdit(row)">Edit</button> 
                <button md-raised-button (click)="onDelete(row)">Delete</button> 
            </mat-cell>
        </div>

        <ng-template #notAction>
          <div *ngIf="isSwap(column.header); else rowData">
              <mat-cell *cdkCellDef="let row">
                <div *ngIf="disable">
                  <button md-raised-button disabled>Swap</button> 
                </div>
                <div *ngIf="!disable">
                    <button md-raised-button>Swap</button> 
                </div>
              </mat-cell>
          </div>
          <ng-template #rowData>
            <div>
            <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>    
            </div>
          </ng-template>
        </ng-template>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <div *ngIf="disable else enable">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </div>
      <ng-template #enable>
          <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
      </ng-template>
      
    </mat-table>
  </div>


